
  <div class="row">

    <div class="post">

      <div class="main">
        <div class="box">

          <p class="theme">お題 「<%= post.theme %>」</p>
          <div class="text">
              <%= post.text %>
          </div>
        </div>
      </div>

      <div class="sub">
        <%= link_to user_path(post.user) do %>
          <%= post.user.name %></br>
        <% end %>
        <%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></br>

        <!--いいねの部分テンプレート-->
        <%= render 'favorites/favorite', post: post %>


        <i class="far fa-comment-alt"></i>&nbsp;
        <%= link_to post_path(post.id) do %>
          <%= post.post_comments.count %>
         <% end %>
      </div>

    </div>
     </div>

