<div class="container" >

  <div class="cmment_status">
    <p class="ranking-message">投稿時に「コメントを募集しますか？」で「はい」を選択した投稿が二日間表示されます。</br>
    たくさんのコメントお待ちしております！</p>
  </div>

  <!--投稿表示部分-->
  <% @posts.each do |post| %>
    <div class="row">
      <div class="post">
        <%= render 'posts/item', post: post %>
        <div class="sub">
          <%= render 'posts/time', post: post %>
          <%= render partial: 'posts/favorite', locals: {post: post} %>
          <%= render 'posts/comment', post: post %>
        </div>
      </div>
    </div>
  <% end %>

  <!--ページネーション-->
  <%= render 'layouts/pager', obj: @posts %>

</div>