<!--エラーメッセージ-->
<%= render 'layouts/errors', obj: @comment %>

<div class="container">
  <!--投稿表示-->
  <div class="row">
    <div class="post">
      <%= render 'posts/item', post: @post %>
      <div class="sub">
        <%= render 'posts/time', post: @post %>
        <%= render 'posts/favorite', post: @post %>
        <%= render 'posts/comment', post: @post %>
      </div>
    </div>
  </div>

  <!--投稿ユーザーとログインユーザーが同じだったらボタン表示-->
  <% if @post.user_id == current_user.id %>
    <%= link_to '編集する', edit_post_path(@post.id) %>
    <%= link_to '投稿を削除', post_path(@post.id), method: :delete, remote: true, data: {"turbolinks" => false}, "data-confirm" => "本当に削除しますか？" %>
  <% end %>


  <!--コメント投稿、表示フォーム-->
  <div class="comment_new_btn">
    <%= render 'post_comments/post_comment_new', {post: @post, comment: @comment} %>
  </div>

</div>