<!DOCTYPE html>
<html>
  <head>
    <title>日々川柳</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <header class="fixed-top">
      <nav class="navbar">
        <!--ヘッダーのロゴ-->
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class:"navbar-brand" %>
        <% end %>


        <ul class="navbar nav justify-content-end">
          <% if user_signed_in? %>
            <!--ログインしている場合-->
            <li class="nav-item"><p>ようこそ<%= current_user.name %>さん</p></li>
            <li class="nav-item"><%= link_to 'マイページ', user_path(current_user), class:"nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"nav-link" %></li>
           <% else %>
           <!--ログインしていない場合-->
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class:"nav-link" %></li>
            <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class:"nav-link" %></li>
          <% end %>
        </ul>
        </div>
      </nav>

         <!--メニューバー表示-->
      <% if user_signed_in? %>
  <nav class="navbar nav justify-content-center menu-bar">

    <ul class="nav">
      <li class="menu"><i class="fas fa-indent">&nbsp<%= link_to '投稿一覧', posts_path %></i></li>
      <li class="menu"><i class="fas fa-plus-square">&nbsp<%= link_to '投稿する', new_post_path %></i></li>
      <li class="menu"><i class="fas fa-crown">&nbsp<%= link_to 'ランキング', ranking_posts_path %></i></li>
      <li class="menu"><i class="fas fa-comment-dots">&nbsp<%= link_to 'コメント募集', comment_posts_path %></i></li>
    </ul>
    <% end %>
  </nav>
    </header>


  <body>

    <% if flash[:notice] %>
    <p class="alert alert-danger"><%= flash[:notice] %></p>
  <% end %>

    <%= yield %>
  </body>



</html>
