<!DOCTYPE html>
<html>
  <head>
    <title>日々川柳</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <header>
      <nav class="navbar fixed-top">
        <!--ヘッダーのロゴ-->
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class:"navbar-brand" %>
        <% end %>


        <ul class="navbar nav justify-content-end">
          <% if user_signed_in? %>
            <!--ログインしている場合-->
            <li class="nav-item"><p>ようこそ<%= current_user.name %>さん</p></li>
            <li class="nav-item"><%= link_to 'マイページ', user_path(current_user), class:"nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"nav-link" %></li>
           <% else %>
           <!--ログインしていない場合-->
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class:"nav-link" %></li>
            <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class:"nav-link" %></li>
          <% end %>
        </ul>
        </div>
      </nav>
    </header>


  <body>
    <%= yield %>
  </body>



</html>
